@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration:none;
}

/****** MAIN CSS START ******/

body { font-family: 'Droid Serif', serif; font-size:14px; background: #fff url(images/bg.png) repeat; }
.container { width:960px; min-height:700px; margin:auto; }
*:focus {outline:none;}
h1, h2, h3, h4, h5, h6 { font-family: "Lobster Two", cursive; }
h1 { font-size:36px; }
h2 { font-size:30px; }
h3 { font-size:24px; }

/*  Header  */
header { background:#184e78; height:124px; }
.top_gradient { height:124px; background:url(images/header_transBG.png) repeat-x; padding-top:15px;
	-pie-background: linear-gradient(#133d5d, #184e78);  /* IE6+ */
    behavior: url(PIE.htc); }
.ambprac {background-image:url(images/ambprac_header.png); width: 519px; height:72px; margin:auto; margin-top: 16px; }
.user_bar { width:960px; margin:auto; }


/* Search Bar */
#date {color:#fff; float:left; font-size: 16px; line-height: 22px; margin-top: 6px; }
.search_bar { height:34px; background:url(images/nav_bg.png) repeat-x; }
.search_container { width:960px; margin:auto; }
.search_block { margin-top:4px; float:right; }
.search_block input { width:200px; height:20px; font-size:14px; padding:2px 22px 2px 8px; background:#948987 url(images/mag_glass.png) 98% center no-repeat;
	border-top:1px solid #433f3e;
	border-right:1px solid #948987;
	border-bottom:1px solid #a79f9e;
	border-left:1px solid #948987;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
.search_block input:focus {border:1px solid #dfd4d3;}


/* Navagation Bar */
nav.nav_bar { height:50px; margin-bottom:50px; background:url(images/nav_bg_large.png) repeat-x; }
ul#topnav { width:960px; margin:auto; }
ul#topnav li {height:44px; width:95px; padding-bottom:6px; border-right:1px solid #948987; float:left; position:relative; z-index:2000; }
ul#topnav li.dropdown { background:url(images/menu_arrow.png) no-repeat 50% 90%; }
ul#topnav li a{ width:100%; height:100%; font-size:15px; text-align:center; line-height:17px; color:#948987; padding:3px 0px; float:left; }
ul#topnav li a.hover { background:#efefef; color:#184e78; }
ul#topnav li.last { border:none; }
ul#topnav li .sub { position:absolute; top:50px; left:0; z-index:1000; background:#efefef; padding:0px; float:left; display:none; }
ul#topnav li .sub ul { width:200px; float:left; }
ul#topnav li .sub ul li { height:100%; width:100%; color:#494443; border:none; margin:0px; padding:0px; }
ul#topnav li .sub ul li a { height:auto; width:180px; display:block; text-align:left; text-decoration:none; color:#184e78; font-size:14px; line-height:16px; padding:5px 10px; margin:0px; }
ul#topnav li .sub ul li a:hover { background:#dedede; }
ul#topnav li .sub h4 { width:180px; font-family: 'Droid Serif', serif; font-weight:bold; font-size:18px; padding:5px 0px; margin:0px 10px; border-bottom:1px solid #000; }

/* The Nivo Slider styles */
section.slider { width:1010px; height:389px; margin-left:-25px; margin-bottom:20px; background:url(images/slider_shadow.png) no-repeat; }
.nivoSlider { position:relative; width:960px; height:357px; margin-left:25px; background:url(images/loading.gif) no-repeat 50% 50%; }
.nivoSlider img { position:absolute; top:0px; left:0px; display:none; }
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none; }
/* The slices and boxes in the Slider */
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; }
.nivo-box { display:block; position:absolute; z-index:5; }
/* Caption styles */
.nivo-caption { position:absolute; right:0px; bottom:20px; background:#000; color:#fff; width:300px; z-index:8; }
.nivo-caption p { padding:10px 20px; margin:0; font-family: "Lobster Two"; font-size:24px; }
.nivo-caption a { display:inline !important; }
.nivo-html-caption { display:none; }
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a { position:absolute; top:45%; z-index:9; cursor:pointer; width:46px; height:46px; }
.nivo-prevNav { left:10px; background:url(images/slider_left.png) no-repeat; }
.nivo-nextNav { right:10px;	background:url(images/slider_right.png) no-repeat; }
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav { position:absolute; bottom:-30px; left:50%; margin-left:-48px; }
.nivo-controlNav a { display:block; float:left; cursor:pointer;	text-indent:-9999px; margin:2px; width:12px; height:13px; background:url(images/pagination_blue.png) no-repeat; }
.nivo-controlNav a.active {	background:url(images/pagination_blue.png) 0px -13px no-repeat; }

/* Home Page Content Section */
.content h1 { color:#184e78; text-align:center; margin-bottom:20px; }
.info_slider { width:960px; }
.info_slider .control_box { width:220px; height:210px; padding-top:10px; border-top:1px dashed #184e78; float:left; }
.info_slider .control_box h3 { color: #184e78; text-align:center; }
.info_slider .control_box p { text-align:center; padding-top:10px; }
#new_postings_slides, #upcoming_events_slides { width:720px; height:210px; padding-top:10px; border-top:1px dashed #184e78; float:right; position:relative; }
.box_next_arrow, .box_prev_arrow { width:30px; height:200px; background:url(images/box_slider_next.png) }
.box_prev_arrow { background:url(images/box_slider_prev.png); }
.box_next, .box_prev { position:absolute; top:5px; left:0px; display:block; z-index:101; display:none; }
.box_next { left:690px; }
.box_container { width:720px; height:210px; float:left; }
.box_container div { width:720px; height:210px; float:left; display:block; }
.box_container div span { width:240px; height:210px; float:left; display:block; }
.box_container div img { margin:0 10px; }
.box_container div p { width: 220px; margin:8px 10px 0px; text-align:center; }
.box_container div a { color:#000; }
.box_container div a:hover { text-decoration:underline; }
.box_container div a:visited { color:#000; }

/****** Container General ******/
h1.underlined { color:#000; padding:20px 0px; margin:20px 0px; background:url(images/underline.gif) repeat-x bottom; }
.container .form_background { width:529px; height:429px; border:1px solid #b4b4b4; background-color:#efefef;  }
.container .form_container { width:480px; margin:auto; }
.container form label { width:200px; font-size:18px; display:inline-block; }
.container form input { font-size:24px; padding:5px; border:1px solid #7d7d7d; margin:10px 0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
	}
.container input:focus { border-color:#e89e1d; }
.container input#login { width:132px; height:51px; border:0; font-size:18px; color:#fff; float:right;
	background:url(images/submit_button.png); cursor:pointer; }
.container input#login:active { background-position-y:51px; }

/****** Login Page ******/
.forgot { padding:10px 0; display:inline-block; }
#forgot_user, #forgot_pass { font-size:12px; font-style:italic; }
#forgot_user:visited, #forgot_pass:visited { color:#184e78; }

/****** Bottom Section ******/
.bottom { min-height:220px; }
.info_window { width:220px; margin:0px 10px; border-top:1px dotted #184e78; float:left; }
.info_window h3 { color:#184e78; text-align:center; padding:10px 0px; }
.info_window ul { line-height: 21px; }
.info_window a { color:#000; }
.info_window a:hover { text-decoration:underline; color:#36F; }
.info_window ul.bullets { list-style:outside; padding-left:15px; }
#med_centers ul li, #searches ul li { height:25px; line-height:25px; padding:0px 5px; background-color:#eee; }
#med_centers ul li.dark, #searches ul li.dark { background-color:#c2c2c2; }
#searches ul { border:1px solid #524d4c; }
#searches li.head { background:#524d4c; color:#fff; font-size:18px; }

/****** Footer Section ******/
.footer { height:34px; width:100%; background:url(images/nav_bg.png) repeat-x; }
.footer_container { width:350px; margin:auto; }
.footer ul { color:#948987; text-align:center; }
.footer ul li { line-height:34px; padding:0px 5px; float:left; }
.footer a { color:#948987; }
.footer a:hover { color:white; }

.clear {clear:both; height:0; font-size: 1px; line-height: 0px;}